@model web.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
